@model PPCRental.Models.USER
@{
    ViewBag.Title = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>

   
    <link href="~/Content/stylelogin.css" rel="stylesheet" />
</head>
<body>
@using (Html.BeginForm("Login", "Project", FormMethod.Post))
{
    <div class="overlay">
        <!-- LOGN IN FORM by Omar Dsoky -->
        <form>
            <!--   con = Container  for items in the form-->
            <div class="con">
                <!--     Start  header Content  -->
                <header class="head-form">
                    <h2>Log In</h2>
                    <!--     A welcome message or an explanation of the login form -->
                    <p>login here using your username and password</p>
                </header>
                <!--     End  header Content  -->
                <br>
                <div class="field-set">

                    <!--   Email -->
                    <div id="Email">
                        <span class="input-item">
                            <i class="fa fa-user-circle"></i>
                        </span>
                        <!--   Email Input-->
                        @*<input class="form-input" id="txt-input" type="text" placeholder="Email" required>*@
                        @Html.TextBoxFor(Model => Model.Email, new { @class = "form-input", @placeholder = "Email" })
                    </div>
                    <!--   Password -->
                    <div>
                        <span class="input-item">
                            <i class="fa fa-key"></i>
                        </span>
                        <!--   Password Input-->
                        @*<input class="form-input" type="password" placeholder="Password" id="pwd" name="password" required>*@
                        @Html.PasswordFor(Model => Model.Password, new { @class = "form-input", @placeholder = "Password" })
                    </div>
                    <!--        buttons -->
                    <!--      button LogIn -->
                    <button class="log-in"> Log In </button>
                </div>

                <!--   other buttons -->
                <div class="other">
                    <!--      Forgot Password button-->
                    <button class="btn submits frgt-pass">Forgot Password</button>
                    <!--     Sign Up button -->
                    @*<a href="~/Project/Login" class="login_btn">Login</a>*@
                        <button class="btn submits sign-up">
                             @Html.ActionLink("Sign Up", "SignUp");
                            <!--         Sign Up font icon -->
                            <i class="fa fa-user-plus" aria-hidden="true"></i>
                        </button>
                    <!--      End Other the Division -->
                </div>

                <!--   End Conrainer  -->
            </div>

            <!-- End Form -->
        </form>
    </div>
    <script src="~/Scripts/index.js"></script>
}
</body>
</html>

