@model PPCRental.Models.USER
@{
    ViewBag.Title = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>

   
    <link href="~/Content/stylelogin.css" rel="stylesheet" />
</head>
<body>
@using (Html.BeginForm("SignUp", "Project", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="overlay">
        <!-- LOGN IN FORM by Omar Dsoky -->
        <form>
            <!--   con = Container  for items in the form-->
            <div class="con">
                <!--     Start  header Content  -->
                <header class="head-form">
                    <h2>Sign Up</h2>
                    <!--     A welcome message or an explanation of the login form -->
                    <p>Your basic info</p>
                </header>
                <!--     End  header Content  -->
                <br>
                <div class="field-set">

                    <!--   Email -->
                    <div id="Email">
                        <span class="input-item">
                            <i class="fa fa-user-circle"></i>
                        </span>
                        <!--   Email Input-->
                        @*<input class="form-input" id="txt-input" type="text" placeholder="Email" required>*@

                        @Html.TextBoxFor(Model => Model.Email, new { @class = "form-input", @placeholder = "Email" })
                    </div>
                    <!--   Full name -->
                    <div id="Fullname">
                        <span class="input-item">
                            <i class="fa fa-user-circle"></i>
                        </span>
                        <!--   Full name Input-->
                        @*<input class="form-input" id="txt-input" type="text" placeholder="Full name" required>*@
                        @Html.TextBoxFor(Model => Model.FullName, new { @class = "form-input", @placeholder = "Full Name" })
                    </div>
                    <!--   Password -->
                    <div>
                        <span class="input-item">
                            <i class="fa fa-key"></i>
                        </span>
                        <!--   Password Input-->
                        @*<input class="form-input" type="password" placeholder="Password" id="pwd" name="password" required>*@
                        @Html.PasswordFor(Model => Model.Password, new { @class = "form-input", @placeholder = "Password" })
                    </div>
                    <!--        buttons -->
                    <!--      button LogIn -->
                    <button class="log-in"> Sign Up </button>
                </div>

                <!--   other buttons -->
                <div class="other">
                    <p>Already have an account ? @Html.ActionLink("Login", "Login")</p>
                    <!--      End Other the Division -->
                </div>
                <!--   End Conrainer  -->
            </div>

            <!-- End Form -->
        </form>
    </div>
    <script src="~/Scripts/index.js"></script>
}
</body>
</html>

